@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="image-container">
            <div class="image-wrapper">
                <img src="@Model.OriginalImageName" />
            </div>
            <div class="image-wrapper">
                <img src="@Model.ProcessedImage" />
            </div>
            <div class="image-wrapper">
                <img src="@Model.DifferentBetweenImageName" />
            </div>
        </div>
    }
</div>
