@model  CP.Web.Models.ImageModel
@section header {
    <title>Main page</title>
}
@if (User.IsInRole("admin"))
{
    using (Html.BeginForm("StaticImg", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input type="file" name="fileBase" />
        </div>
        <div>
            <input type="submit" value="User image send" />
        </div>
    }
}
@if (Model != null)
{
    if(Model.StaticImgUri != null)
    {
        <img src="@Url.Content(Model.StaticImgUri)" height="100" width="100"/>
    }
    if (Model.ImgUri != null)
    {
        <img src="@Url.Content(Model.ImgUri)" height="100" width="100"/>
    }
    if (Model.ResultImgUri != null)
    {
        <img src="@Url.Content(Model.ResultImgUri)" height="100" width="100"/>
    }
}
