@model  CP.Web.Models.ImageModel
@section header {
    <title>Main page</title>
}
@if (User.IsInRole("admin"))
{
    using (@Html.BeginForm("HomePagePost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input type="file" name="fileBase"/>
        </div>
        <div>
            <input type="submit" value="Take photo" />
        </div>
    }
}
@if (Model != null)
{
    var base64String = Convert.ToBase64String(Model.Images[0].Bytes);
    var imgSrc = String.Format($"data:image/png;base64,{base64String}");
    <img src="@imgSrc"/>
}
