@model  CP.Web.Models.ImageModel
@section header {
    <title>Main page</title>
}
@if (User.IsInRole("admin"))
{
    using (@Html.BeginForm("IndexPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input type="file" name="fileBase"/>
        </div>
        <div>
            <input type="submit" value="Take photo" />
        </div>
    }
}
