<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Login</title>
</head>
<body>
<div>
    Hello @User.Identity.Name
</div>
    @using (@Html.BeginForm("IndexPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input type="file" name="file" id="file" style="width: 100%;" /> 
        </div>
        <div>
            <input type="submit" value="Upload" class="submit"/>
        </div>
    }
    @if (ViewData["Image"] != null)
    {
        <div>
            <img src="@Url.Content(ViewData["Image"].ToString())"/>
        </div>
    }
    <div>
        @Html.ActionLink("Login", "Login", "Login")
    </div>
</body>
</html>
