
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
</head>
<body>
    <div id="MainContent">
        <h2>Hello this new project</h2>
        <h3>@ViewData["Informathion"].ToString()</h3>
    </div>
</body>
</html>
